.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #AB2A19;
  color: #FFFFFF;
  text-align: left;
  padding: 0px 40px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dashboard {
  background-color: #FFFFFF;
}

.product {
  background-color: #D34735;
  margin: 10px;
  min-width: 400px;
  border-radius: 10px;
}

.product img {
  display: inline-block;
  margin: 10px;
}

.form {
  background-color: #3AD886;
  padding: 10px;
}