.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #AB2A19;
  color: #FFFFFF;
  text-align: left;
  padding: 20px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-icon {
  height: 40px;
  width: 40px;
  background-image: url('../src/shelfie_icon.png');
  background-size: cover;
}

h3 {
  text-align: left;
  margin: 5px;
}

.header > h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}

img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

button {
  background-color: #ED6B5A;
  height: 35px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}

.body {
  margin: 50px 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.body div {
  border-radius: 5px;
}

.dashboard {
  background-color: #FFFFFF;
}

.product {
  background-color: #D34735;
  margin-bottom: 20px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.product img, .product > div {
  margin: 10px;
}

.product > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  height: 200px;
  width: 160px;
}

.product-info-box h3 {
  font-size: 20px;
}

.product-buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  background-color: #3AD886;
  padding: 20px;
  width: 300px;
}

.form input {
  margin: 5px 0px;
  width: 100%;
}

.form > div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}


.product-buttons-box button {
  background-color: #3AD886;
}

.header-btn {
  margin: 10px;
}

.dashboard-btn {
  margin-left: 100px;
}
